<head>
    <!-- Bootstrap include -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"/>

    <!-- jquery 버전 유의 -->
    <!-- slim/jquery, 3.1.0 윗 버전에서 ajax가 작동하지 않는 오류 확인 -->
    <!-- Bootstrap의 CDN을 copy&paste 하되 Line 8의 버전만 3.1.0으로 수정하세요 -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>


<body>
    <div class="container" style="background-color: rgba(144,122,49,0,224);">
        <br>
        <h1>재산 등록하기</h1>
        <hr>
    </div>
    <div class="container">

        <form atcion="/AddAsset" methon="post">
            <label for="contactChoice1">재산명</label>
            <input type="text" name="" class="form-control">
            <label for="contactChoice1">토지</label>
            <input class="radio" type="radio" id="contactChoice1" name="contact" value="토지" checked>
            <label for="contactChoice1">토지</label>
            <input class="radio" type="radio" id="contactChoice2" name="contact" value="건물">
            <label for="contactChoice2">건물</label>
            <input class="radio" type="radio" id="contactChoice3" name="contact" value="무형자산">
            <label for="contactChoice3">무형자산</label>
            <br />
            <input type="text" id="add-score" name="score"              placeholder="프로젝트점수를 추가할 메이트의 점수를 입력하세요"/>
        </form>

    </div>




<style>
    .radio{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      
        border-radius: 50%;
        width: 16px;
        height: 16px;
      
        border: 2px solid #999;
        transition: 0.2s all linear;
        margin-right: 5px;
      
        position: relative;
        top: 4px;
    }
</style>